<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Source code (QuickLookers)</string>
			<key>UTTypeIdentifier</key>
			<string>com.quicklookers.source-code</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dform</string>
					<string>4dproject</string>
					<string>6pl</string>
					<string>6pm</string>
					<string>_coffee</string>
					<string>_emacs</string>
					<string>_js</string>
					<string>a51</string>
					<string>abap</string>
					<string>abbrev_defs</string>
					<string>acl</string>
					<string>ad</string>
					<string>adml</string>
					<string>admx</string>
					<string>ado</string>
					<string>adoc</string>
					<string>adp</string>
					<string>al</string>
					<string>ant</string>
					<string>apacheconf</string>
					<string>apex</string>
					<string>apl</string>
					<string>apla</string>
					<string>aplc</string>
					<string>aplf</string>
					<string>apli</string>
					<string>apln</string>
					<string>aplo</string>
					<string>ara</string>
					<string>asc</string>
					<string>asciidoc</string>
					<string>asd</string>
					<string>asdf</string>
					<string>asm</string>
					<string>astro</string>
					<string>auk</string>
					<string>aux</string>
					<string>avsc</string>
					<string>aw</string>
					<string>awk</string>
					<string>axaml</string>
					<string>axml</string>
					<string>bal</string>
					<string>bat</string>
					<string>bats</string>
					<string>bb</string>
					<string>bbx</string>
					<string>bdy</string>
					<string>be</string>
					<string>beancount</string>
					<string>bib</string>
					<string>bibtex</string>
					<string>bicep</string>
					<string>bicepparam</string>
					<string>blade</string>
					<string>bones</string>
					<string>boot</string>
					<string>bsl</string>
					<string>builder</string>
					<string>builds</string>
					<string>cairo</string>
					<string>cake</string>
					<string>cask</string>
					<string>cats</string>
					<string>cbl</string>
					<string>cblcpy</string>
					<string>cblle</string>
					<string>cblsrce</string>
					<string>cbx</string>
					<string>ccp</string>
					<string>ccproj</string>
					<string>ccxml</string>
					<string>cdc</string>
					<string>cdf</string>
					<string>cgi</string>
					<string>cginc</string>
					<string>cjs</string>
					<string>cjsx</string>
					<string>cl2</string>
					<string>clang-format</string>
					<string>clar</string>
					<string>clixml</string>
					<string>clj</string>
					<string>cljc</string>
					<string>cljs</string>
					<string>cljscm</string>
					<string>cljx</string>
					<string>cls</string>
					<string>cmake</string>
					<string>cmd</string>
					<string>cnf</string>
					<string>cob</string>
					<string>cobcopy</string>
					<string>cobol</string>
					<string>code-snippets</string>
					<string>code-workspace</string>
					<string>coffee</string>
					<string>conf</string>
					<string>copybook</string>
					<string>coq</string>
					<string>cppm</string>
					<string>cproject</string>
					<string>cpy</string>
					<string>cql</string>
					<string>cr</string>
					<string>cs</string>
					<string>cscfg</string>
					<string>csdef</string>
					<string>cshtml</string>
					<string>csl</string>
					<string>csproj</string>
					<string>csx</string>
					<string>ct</string>
					<string>ctp</string>
					<string>cts</string>
					<string>cue</string>
					<string>cyp</string>
					<string>cypher</string>
					<string>d</string>
					<string>dart</string>
					<string>ddl</string>
					<string>def</string>
					<string>depproj</string>
					<string>desktop</string>
					<string>dfm</string>
					<string>di</string>
					<string>dita</string>
					<string>ditamap</string>
					<string>ditaval</string>
					<string>dm</string>
					<string>dme</string>
					<string>dml</string>
					<string>do</string>
					<string>dockerfile</string>
					<string>dof</string>
					<string>doh</string>
					<string>dotsettings</string>
					<string>dpk</string>
					<string>dpp</string>
					<string>dpr</string>
					<string>dtx</string>
					<string>dump</string>
					<string>dyalog</string>
					<string>dyapp</string>
					<string>edge</string>
					<string>el</string>
					<string>elc</string>
					<string>eld</string>
					<string>eliom</string>
					<string>eliomi</string>
					<string>elm</string>
					<string>emacs</string>
					<string>env</string>
					<string>envvars</string>
					<string>erb</string>
					<string>erl</string>
					<string>es</string>
					<string>es6</string>
					<string>escript</string>
					<string>ex</string>
					<string>eye</string>
					<string>f03</string>
					<string>f08</string>
					<string>f18</string>
					<string>fastcgi_params</string>
					<string>fcgi</string>
					<string>fd</string>
					<string>feature</string>
					<string>filters</string>
					<string>fish</string>
					<string>fmx</string>
					<string>fnc</string>
					<string>fnl</string>
					<string>fp</string>
					<string>fpp</string>
					<string>frg</string>
					<string>fshader</string>
					<string>fsi</string>
					<string>fsproj</string>
					<string>fst</string>
					<string>fsti</string>
					<string>fsx</string>
					<string>ftl</string>
					<string>fx</string>
					<string>fxh</string>
					<string>fxml</string>
					<string>gawk</string>
					<string>gd</string>
					<string>gdshader</string>
					<string>gemspec</string>
					<string>geo</string>
					<string>gjs</string>
					<string>glade</string>
					<string>gleam</string>
					<string>glslf</string>
					<string>glslv</string>
					<string>gml</string>
					<string>gmx</string>
					<string>gnu</string>
					<string>gnuplot</string>
					<string>gnus</string>
					<string>go</string>
					<string>god</string>
					<string>gql</string>
					<string>graphcool</string>
					<string>graphql</string>
					<string>graphqls</string>
					<string>groovy</string>
					<string>grt</string>
					<string>grxml</string>
					<string>gshader</string>
					<string>gst</string>
					<string>gtpl</string>
					<string>gts</string>
					<string>gvy</string>
					<string>gyp</string>
					<string>gypi</string>
					<string>hack</string>
					<string>haml</string>
					<string>handlebars</string>
					<string>har</string>
					<string>hbs</string>
					<string>hcl</string>
					<string>hhi</string>
					<string>hic</string>
					<string>hjson</string>
					<string>hlean</string>
					<string>hlsli</string>
					<string>hrl</string>
					<string>hs</string>
					<string>hs-boot</string>
					<string>hsc</string>
					<string>hsig</string>
					<string>hta</string>
					<string>htaccess</string>
					<string>htgroups</string>
					<string>htpasswd</string>
					<string>http</string>
					<string>hx</string>
					<string>hxml</string>
					<string>hxsl</string>
					<string>hy</string>
					<string>hzp</string>
					<string>ice</string>
					<string>iced</string>
					<string>idc</string>
					<string>ihlp</string>
					<string>imba</string>
					<string>imba2</string>
					<string>iml</string>
					<string>inc</string>
					<string>ino</string>
					<string>ins</string>
					<string>ivy</string>
					<string>ixx</string>
					<string>j2</string>
					<string>jade</string>
					<string>jake</string>
					<string>jbuilder</string>
					<string>jelly</string>
					<string>jinja</string>
					<string>jinja2</string>
					<string>jison</string>
					<string>jl</string>
					<string>jsb</string>
					<string>jscad</string>
					<string>jsfl</string>
					<string>jsh</string>
					<string>jslib</string>
					<string>jsm</string>
					<string>json5</string>
					<string>jsonc</string>
					<string>jsonl</string>
					<string>jsonnet</string>
					<string>jspre</string>
					<string>jsproj</string>
					<string>jss</string>
					<string>jssm</string>
					<string>jssm_state</string>
					<string>jsx</string>
					<string>kml</string>
					<string>kojo</string>
					<string>kql</string>
					<string>kt</string>
					<string>ktm</string>
					<string>kts</string>
					<string>kusto</string>
					<string>launch</string>
					<string>lbx</string>
					<string>lean</string>
					<string>lektorproject</string>
					<string>less</string>
					<string>lfm</string>
					<string>libsonnet</string>
					<string>linq</string>
					<string>liquid</string>
					<string>lisp</string>
					<string>lks</string>
					<string>lmi</string>
					<string>lpr</string>
					<string>lsp</string>
					<string>ltx</string>
					<string>lua</string>
					<string>luau</string>
					<string>ma</string>
					<string>makefile</string>
					<string>marko</string>
					<string>mata</string>
					<string>matah</string>
					<string>mathematica</string>
					<string>matlab</string>
					<string>mawk</string>
					<string>mcmeta</string>
					<string>mdpolicy</string>
					<string>mediawiki</string>
					<string>mermaid</string>
					<string>mipage</string>
					<string>mips</string>
					<string>mir</string>
					<string>mjml</string>
					<string>mkfile</string>
					<string>mkii</string>
					<string>mkiv</string>
					<string>mkvi</string>
					<string>ml</string>
					<string>ml4</string>
					<string>mli</string>
					<string>mll</string>
					<string>mly</string>
					<string>mojo</string>
					<string>move</string>
					<string>mspec</string>
					<string>mt</string>
					<string>mxml</string>
					<string>mysql</string>
					<string>nas</string>
					<string>natvis</string>
					<string>nawk</string>
					<string>nb</string>
					<string>nbp</string>
					<string>ncl</string>
					<string>ndproj</string>
					<string>nf</string>
					<string>nginx</string>
					<string>nginxconf</string>
					<string>ngx</string>
					<string>nim</string>
					<string>nimble</string>
					<string>nimrod</string>
					<string>nims</string>
					<string>nix</string>
					<string>njs</string>
					<string>nomad</string>
					<string>nproj</string>
					<string>nqp</string>
					<string>nse</string>
					<string>nu</string>
					<string>nuspec</string>
					<string>ny</string>
					<string>odd</string>
					<string>os</string>
					<string>osm</string>
					<string>p</string>
					<string>p6</string>
					<string>p6l</string>
					<string>p6m</string>
					<string>p8</string>
					<string>pac</string>
					<string>pascal</string>
					<string>pck</string>
					<string>pco</string>
					<string>pcss</string>
					<string>pd_lua</string>
					<string>pdv</string>
					<string>perl</string>
					<string>ph</string>
					<string>php5</string>
					<string>phps</string>
					<string>phpt</string>
					<string>pkb</string>
					<string>pkgproj</string>
					<string>pkh</string>
					<string>pks</string>
					<string>pl6</string>
					<string>plb</string>
					<string>plot</string>
					<string>plsql</string>
					<string>plt</string>
					<string>pluginspec</string>
					<string>plx</string>
					<string>pm6</string>
					<string>po</string>
					<string>podsl</string>
					<string>podspec</string>
					<string>polar</string>
					<string>postcss</string>
					<string>pq</string>
					<string>pqm</string>
					<string>prawn</string>
					<string>prc</string>
					<string>prefs</string>
					<string>prisma</string>
					<string>pro</string>
					<string>proj</string>
					<string>prolog</string>
					<string>properties</string>
					<string>props</string>
					<string>ps1</string>
					<string>ps1xml</string>
					<string>psc1</string>
					<string>psd1</string>
					<string>psgi</string>
					<string>psm1</string>
					<string>pt</string>
					<string>pug</string>
					<string>purs</string>
					<string>py3</string>
					<string>pyde</string>
					<string>pyi</string>
					<string>pyp</string>
					<string>pyt</string>
					<string>pyw</string>
					<string>qbs</string>
					<string>qhelp</string>
					<string>ql</string>
					<string>qll</string>
					<string>qml</string>
					<string>query</string>
					<string>rabl</string>
					<string>rake</string>
					<string>raku</string>
					<string>rakumod</string>
					<string>razor</string>
					<string>rbi</string>
					<string>rbuild</string>
					<string>rbx</string>
					<string>rbxs</string>
					<string>rchit</string>
					<string>rd</string>
					<string>rdf</string>
					<string>re</string>
					<string>reek</string>
					<string>reg</string>
					<string>regex</string>
					<string>regexp</string>
					<string>res</string>
					<string>rest</string>
					<string>resx</string>
					<string>rhtml</string>
					<string>riscv</string>
					<string>rkt</string>
					<string>rktd</string>
					<string>rktl</string>
					<string>rmiss</string>
					<string>rockspec</string>
					<string>ronn</string>
					<string>rpy</string>
					<string>rq</string>
					<string>rs</string>
					<string>rst</string>
					<string>rsx</string>
					<string>ru</string>
					<string>ruby</string>
					<string>rviz</string>
					<string>sarif</string>
					<string>sas</string>
					<string>sass</string>
					<string>sbt</string>
					<string>sc</string>
					<string>scala</string>
					<string>scb</string>
					<string>scbl</string>
					<string>scd</string>
					<string>scgi_params</string>
					<string>sch</string>
					<string>scm</string>
					<string>scrbl</string>
					<string>scss</string>
					<string>scxml</string>
					<string>sdbl</string>
					<string>sel</string>
					<string>service</string>
					<string>sexp</string>
					<string>sfproj</string>
					<string>sh-session</string>
					<string>shader</string>
					<string>shproj</string>
					<string>sjs</string>
					<string>sld</string>
					<string>sls</string>
					<string>sol</string>
					<string>soy</string>
					<string>spacemacs</string>
					<string>sparql</string>
					<string>spc</string>
					<string>spec</string>
					<string>spim</string>
					<string>spl</string>
					<string>splunk</string>
					<string>sps</string>
					<string>sq</string>
					<string>sqlcblle</string>
					<string>src</string>
					<string>srdf</string>
					<string>ss</string>
					<string>ssh_config</string>
					<string>sshd_config</string>
					<string>ssjs</string>
					<string>st</string>
					<string>sthlp</string>
					<string>story</string>
					<string>sty</string>
					<string>styl</string>
					<string>stylus</string>
					<string>sublime-build</string>
					<string>sublime-color-scheme</string>
					<string>sublime-commands</string>
					<string>sublime-completions</string>
					<string>sublime-keymap</string>
					<string>sublime-macro</string>
					<string>sublime-menu</string>
					<string>sublime-mousemap</string>
					<string>sublime-project</string>
					<string>sublime-settings</string>
					<string>sublime-snippet</string>
					<string>sublime-syntax</string>
					<string>sublime-theme</string>
					<string>sublime-workspace</string>
					<string>sublime_metrics</string>
					<string>sublime_session</string>
					<string>sv</string>
					<string>svelte</string>
					<string>svh</string>
					<string>sw</string>
					<string>syntax</string>
					<string>t</string>
					<string>tab</string>
					<string>tac</string>
					<string>talon</string>
					<string>targets</string>
					<string>tasl</string>
					<string>tcc</string>
					<string>tcl</string>
					<string>templ</string>
					<string>tesc</string>
					<string>tese</string>
					<string>tex</string>
					<string>tf</string>
					<string>tfstate</string>
					<string>tfvars</string>
					<string>thor</string>
					<string>tm</string>
					<string>tml</string>
					<string>tmux</string>
					<string>toc</string>
					<string>topojson</string>
					<string>tpb</string>
					<string>tpp</string>
					<string>tps</string>
					<string>trg</string>
					<string>trigger</string>
					<string>tsp</string>
					<string>ttl</string>
					<string>turtle</string>
					<string>twig</string>
					<string>txx</string>
					<string>typ</string>
					<string>udf</string>
					<string>ui</string>
					<string>urdf</string>
					<string>uwsgi_params</string>
					<string>ux</string>
					<string>v</string>
					<string>vala</string>
					<string>vapi</string>
					<string>vb</string>
					<string>vba</string>
					<string>vbhtml</string>
					<string>vbproj</string>
					<string>vcxproj</string>
					<string>veo</string>
					<string>vh</string>
					<string>vhd</string>
					<string>vhdl</string>
					<string>vhf</string>
					<string>vhi</string>
					<string>vho</string>
					<string>vhost</string>
					<string>vhs</string>
					<string>vht</string>
					<string>vhw</string>
					<string>vim</string>
					<string>vimrc</string>
					<string>viper</string>
					<string>viw</string>
					<string>vmb</string>
					<string>vrx</string>
					<string>vshader</string>
					<string>vsixmanifest</string>
					<string>vssettings</string>
					<string>vstemplate</string>
					<string>vue</string>
					<string>vv</string>
					<string>vw</string>
					<string>vxml</string>
					<string>vy</string>
					<string>wast</string>
					<string>wat</string>
					<string>watchr</string>
					<string>webapp</string>
					<string>webmanifest</string>
					<string>wgsl</string>
					<string>wiki</string>
					<string>wikitext</string>
					<string>wixproj</string>
					<string>wks</string>
					<string>wl</string>
					<string>wls</string>
					<string>wlt</string>
					<string>wlua</string>
					<string>workbook</string>
					<string>workflow</string>
					<string>wsdl</string>
					<string>wsf</string>
					<string>wsgi</string>
					<string>wxi</string>
					<string>wxl</string>
					<string>wxs</string>
					<string>x3d</string>
					<string>xacro</string>
					<string>xaml</string>
					<string>xdc</string>
					<string>xmi</string>
					<string>xproj</string>
					<string>xpy</string>
					<string>xrl</string>
					<string>xsd</string>
					<string>xsjs</string>
					<string>xsjslib</string>
					<string>xsl</string>
					<string>xslt</string>
					<string>xspec</string>
					<string>xul</string>
					<string>yap</string>
					<string>yasm</string>
					<string>yrl</string>
					<string>yyp</string>
					<string>zcml</string>
					<string>zig</string>
					<string>zon</string>
					<string>zs</string>
					<string>zsh-theme</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
