<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
				<string>public.python-script</string>
				<string>com.netscape.javascript-source</string>
				<string>org.nodejs.cjs</string>
				<string>public.tsx</string>
				<string>com.adobe.jsx</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>com.sun.java-source</string>
				<string>org.go.source</string>
				<string>org.rust-lang.rust</string>
				<string>public.swift-source</string>
				<string>com.microsoft.csharp-source</string>
				<string>public.php-script</string>
				<string>public.ruby-script</string>
				<string>org.scala.source</string>
				<string>public.perl-script</string>
				<string>org.vuejs.vue</string>
				<string>public.yaml</string>
				<string>public.toml</string>
				<string>public.json</string>
				<string>org.iso.sql</string>
				<string>com.quicklookers.source-code</string>
				<string>public.ada-source</string>
				<string>com.apple.applescript.text</string>
				<string>public.bash-script</string>
				<string>public.ksh-script</string>
				<string>public.zsh-script</string>
				<string>public.shell-script</string>
				<string>com.apple.terminal.shell-script</string>
				<string>public.css</string>
				<string>public.html</string>
				<string>public.xhtml</string>
				<string>public.xml</string>
				<string>public.patch-file</string>
				<string>public.fortran-source</string>
				<string>public.fortran-77-source</string>
				<string>public.fortran-90-source</string>
				<string>public.fortran-95-source</string>
				<string>public.pascal-source</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.assembly-source</string>
				<string>public.nasm-assembly-source</string>
				<string>public.protobuf-source</string>
				<string>com.microsoft.hlsl</string>
				<string>org.khronos.glsl-source</string>
				<string>org.khronos.glsl.fragment-shader</string>
				<string>org.khronos.glsl.vertex-shader</string>
				<string>org.khronos.glsl.geometry-shader</string>
				<string>com.microsoft.typescript</string>
				<string>public.mpeg-2-transport-stream</string>
				<string>com.apple.rez-source</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
